<div class="container-fluid">
    <table class="table">
        <tr>
            <td>Argumentos</td>
            <td> {{info.args}}</td>
        </tr>
        <tr>
            <td>Plataforma</td>
            <td> {{info.os}}</td>
        </tr>
        <tr>
            <td>Node</td>
            <td> {{info.node}}</td>
        </tr>
        <tr>
            <td>Memoria (RSS)</td>
            <td> {{info.memory}}</td>
        </tr>
        <tr>
            <td>CWD</td>
            <td>{{info.cwd}}</td>
        </tr>
        <tr>
            <td>PID</td>
            <td>{{info.pid}}</td>
        </tr>
        <tr>
            <td>Carpeta del proyecto</td>
            <td>{{info.path}}</td>
        </tr>
    </table>


</div>